<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Kacper Celejewski & Wiktor Podwin">
    <meta name="description" content="........">
   
    <title>
        {% block title %}

        {% endblock %}
    </title>

</head>

<body>
    {% block con %}

    {% endblock %}
    <hr/>
    &copy;&nbsp;Kacper Celejewski, Wiktor Podwin 
    <address>Wroclaw, Poland</address>
    <hr/>
</body>
><style>html{
    font-size:  22px;
    background-color: #333;
    color: whitesmoke;
}

a{
    color:#ADD8E6;
}
</style>
</html>