{% extends 'base.html' %}
{% block title %}
    Sign in!
{% endblock %}

   
{% block con%}
<h1> Projects</h1>
<h2>Sign in!</h2>
<hr>
<p>Make your life better</p>
<label for="username">Username: </label>
<br>
<input type="text" id="username" name="username"><br>
<label for="password">Password: </label><br>
<input type="text" id="password" name="password"><br>

<button>
Sign in!
</button>

<p>You are not regitered? Click <a href="http://127.0.0.1:5000/register"> here </a> to sign up! </p>
{%endblock%}