{% extends 'base.html' %}
{% block title %}
    Sign up!
{% endblock %}
{% block con %}
<body class = "text-ceter">
<h1> Projects</h1>
<h2>Sign up!</h2>
<hr>
<p>Make your life better</p>




<div class = "container">
    <form method="POST" class="form-register" style="color:white">
        <h1 class="h3 mb-3 font-weight-normal">
            Please Create your Account
            </h1>
    {{form.username.label()}}
    {{form.username(class="form-control", placeholder="User Name")}}
    <br>
    {{form.email.label()}}
    {{form.email(class="form-control", placeholder="E-mai adress: ")}}
    <br>
    {{form.password1.label()}}
    {{form.password1(class="form-control", placeholder="Password")}}
    <br>
    {{form.password2.label()}}
    {{form.password2(class="form-control", placeholder="Confirm password: ")}}

    {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

</form>
</div>


{% endblock %}
