{% extends 'base.html' %} {% block title %} Your Projects {% endblock %} {%
block link %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/project.css') }}" />

{% endblock %}
{%block page%}



{%endblock%}
{%block homeNav%}
<li class="nav_element">
  <a class="nav_link" href="{{ url_for('home_page')}}">Home</a>
</li>


{%endblock%}
{% block container %}


<div class="head">

  <h2>My Projects</h2>
</div>
<div class="filterGroup">
  <span class="filters" id="filterBy">Filter by</span>
  <span onclick="filterBy(this)" class="filters" id="In Progress">In Progress</span>
  <span onclick="filterBy(this)" class="filters" id="Completed">Completed</span>
  <span onclick="filterBy(this)" class="filters" id="Cancelled">Cancelled</span>
  <span onclick="filterBy(this)" class="filters" id="Edited">Edited</span>
</div>
<hr>
<div class="projectList">
  <div class="coontainer">
    {% for project in projects %}

    <div class="window hidden" id="AddMemberWindow{{project.id}}">
      <div class="top">
        <div class="editTitle">{{project.title}}</div>
        <div class="x"><i onclick="closeEdit({{project.id}},'AddMemberWindow{{project.id}}')" id="xrightAdd"
            class="fa-sharp fa-solid fa-x"></i></div>
      </div>
      <form action="{{ url_for('addUser', project_id=project.id) }}" method="POST">
        {{ add.surrname.label() }}
        <div class="searchbar">
          {{ add.surrname(class="form-control",maxlength="50", placeholder="Surrname" )}}
          <i class="fas fa-search"></i>
        </div>
        {{ add.submit(class="btn btn-lg btn-block btn-primary") }}
        <br>
        {{ form.csrf_token }}
      </form>
    </div>

    {% endfor %}
    <table class="table">
      <tr>
        <th onclick="sortTable()">Project <i class="fa-solid fa-sort-down"></i></th>
        <th>Status <i class="fa-solid fa-sort-down"></i></th>
        <th>Author <i class="fa-solid fa-sort-down"></i></th>
        <!--<th>Description <i class="fa-solid fa-sort-down"></i></th>-->
        <th>Due date <i class="fa-solid fa-sort-down"></i></th>
        <th>Time to end <i class="fa-solid fa-sort-down"></i></th>
        <th>Members</th>
        <th> </th>
      </tr>
      {% for project in projects %}


      <div class="window hidden" id="projectEditWindow{{project.id}}">
        <div class="top">
          <div class="editTitle">{{project.title}}</div>
          <div class="x"><i onclick="closeEdit({{project.id}},'projectEditWindow{{project.id}}')" id="xright"
              class="fa-sharp fa-solid fa-x"></i></div>
        </div>

        <form action="{{ url_for('edit', project_id=project.id) }}" method="POST" class="edit-form">
          {{ form.title.label() }}
          {{ form.title(class="form-control", placeholder="Title") }}
          <br>

          {{ form.deadline.label() }}
          {{ form.deadline(class="form-control auto-height ", placeholder="DD/MM/YYYY") }}
          <br>
          {{ form.deadlineEnd.label() }}
          {{ form.deadlineEnd( id ="formaa",class="form-control auto-height", placeholder="DD/MM/YYYY") }}
          <br>
          {{ form.description.label() }}
          {{ form.description(class="form-control auto-height", placeholder="Description") }}
          <br>
          {{ form.submitBtn(id = "btt",class="btn btn-lg btn-block btn-primary") }}
          <br>
          {{ form.csrf_token }}
          <div class="x" onclick="closeEdit({{project.id}})">Close</di>
        </form>

      </div>

      <tr class="radius">

        <td>
          <b class="title">{{project.title}}</b>
          <div class="description">{{project.description}}</div>
        </td>
        <td class="status" id="status{{project.id}}">{{project.status}}</td>
        <td>{{project.author}}</td>
        <!--<td>{{project.description}}</td>-->
        <td>{{project.deadlineEnd}}</td>
        <td>{{timeDict[project.id]}} days</td>
        <td>{% for user in project.users %}
          {{user.name}}<br>
          {% endfor %}
        </td>
        <div class="actionMenu">
          <td><img id="dropDots{{project.id}}" onclick="dropdown({{project.id}})" style="width: 15px;"
              src="static/menu.png" alt="">
            <div class="dropdown-content" id="menu{{project.id}}">
              <a onclick="changeStatus(this.id,{{project.id}})" id="completed" href="">Mark as completed</a>
              <a onclick="changeStatus(this.id,{{project.id}})" id="delete" href="">Cancel</a>
              <a onclick="changeStatus(this.id,{{project.id}});stayAfterLoad({{project.id}})" id="edit"
                href="{{ url_for('edit', project_id=project.id) }}">Edit</a>
              <a onclick="changeStatus(this.id,{{project.id}})" id="addMember" href="{{ url_for('projects_page') }}">add
                member</a>
            </div>
        </div>
        </td>

      </tr>

      {% endfor %}
    </table>

  </div><a href="{{ url_for('new_project') }}" class="buttone">Create new project</a>
</div>


<script src="{{ url_for('static', filename='scripts/task.js') }}"></script>
{% endblock %}